<%- include("../partials/__head") %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-header bg-dark">Create New Client</h2>
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Name" name="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" name="email" class="form-control mt-2">
                            </div>
                            <input type="submit" value="CREATE" class="btn btn-primary mt-2">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Change</th>
                    </thead>
                    <tbody>
                        <% data.forEach(item=>{%>
                            <tr>
                                <th scope="row">
                                    <%= item.id%>
                                </th>
                                <td>
                                    <%= item.name%>
                                </td>
                                <td>
                                    <%= item.email%>
                                </td>
                                <td>
                                    <a href="/change/<%=item.id%>" class="badge btn btn-warning text-dark">CHANGE</a>
                                    <a href="/delete/<%=item.id%>" class="badge btn btn-dark">DELETE</a>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("../partials/__food") %>